/* responsive menu met menu-toggle knop */
.menu-toggle {
    display: none;
    float: left;
}
@media only screen and (max-width: 640px) {
    .menu-toggle {
        display: hidden;
        width: 100%;
        height: 42px;
        background: url(menu-icon.png) center no-repeat #4c99b6;
        bottom: 0;
        left: 0;
        display: block;
        border: none;
        border-radius: 0;
        box-shadow: inset 0 0 0;
    }
    a:hover .menu-toggle {
        background-color: #444;
    }
    .main-navigation ul,
    .main-navigation ul:active ul {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        width: 100%;
    }
    .main-navigation:hover ul {
        display: block;
        background-color: silver;
        opacity: 0.9;
        overflow: hidden;
    }
    .main-navigation:hover li {
        clear: both;
        border-right: none;
        padding: 6px 0;
        border-right: none;
        border-bottom: 1px solid #000;
        width: 100%;
    }
    .main-navigation:hover li ul {
        display: none;
    }
    .main-navigation:hover li ul {
        display: block;
        position: relative;
        z-index: 100;
        margin-left: 5%;
        width: 90%;
    }
    .main-navigation li li {
        background-color: #3e5157;
        padding: 6px 0;
        border-right: none;
        border-bottom: 1px solid #000;
    }
    .main-navigation li li a {
        color: #FFF;
    }
    .main-navigation li li a:hover {
        color: black;
    }
}