/*
Theme Name: Pluk de dag basic
Theme URI: http://www.webdesign-en-wordpress.nl/theme/
Description: Pluk de dag basic theme voor WordPress
Author: WJAC
Author URI: http://www.webdesign-en-wordpress.nl
Version: 1.0
Tags: Orange, grey, white, two-columns, responsive

License:
License URI:

General comments (optional).
*/

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    padding: 30px 0 0 0;
    font-family: 'Helvetica', Arial;
    color: #3D5159;
    font-size: 14px;
    line-height: 24px;
    background-color: rgb(238, 245, 247);
}
#page {
    position: relative;
    max-width: 935px;
    margin: 0 auto;
    overflow: visible;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 0 7px #aaa;
    border: 10px solid #fff;
}
.site-header {
    position: relative;
    height: 140px;
    padding-top: 1px;
    clear: both;
    border-radius: 10px 10px 0 0;
    background-color: #fc7a00;
}
/* Titel en subtitel */
.site-branding {
    margin: 25px 0 0 25px;
}
.site-title{
margin: 0;
padding: 0;
}
.site-title a,
.site-title a:visited {
    color: #fff;
    font: 40px 'Helvetica', Arial;
    text-shadow: 1px 1px 1px #000;
    margin: 0 0;
}
.site-description {
    color: #fff;
    font-size: 16px!important;
    font: 25px 'Helvetica', Arial;
    text-shadow: 1px 1px 1px #000;
}
/* hoofdmenu css */
.main-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 25px;
}
.main-navigation .menu {
    position: relative;
    padding-left: 16px;
    margin: 0;
}
.main-navigation li {
    float: left;
    list-style-type: none;
    margin-right: 1px;
    border-right: 1px solid #fff;
}
.main-navigation li a {
    color: #FFF;
    text-decoration: none;
    padding: 0 10px;
    font: 14px 'Helvetica', Arial;
}
.main-navigation li a:hover,
.main-navigation li.active a,
.main-navigation li.current a {
    color: black;
    text-decoration: none;
}
/* submenu css */
.main-navigation .menu ul {
    display: none;
    padding: 0;
    margin: 0px;
}
.main-navigation li:hover ul {
    display: block;
    position: absolute;
    z-index: 100;
}
.main-navigation li li {
    clear: both;
    background-color: #3e5157;
    opacity: 0.85;
    width: 100%;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #000;
}
.main-navigation li li a {
    color: #FFF;
}
.main-navigation li li a:hover {
    color: black;
}
.content-area {
    padding: 25px;
    float: left;
    max-width: 655px;
    min-height: 425px;
    background-color: #FFF;
    font-weight: 300;
    text-align: left;
}
.content-area h2,
h3 {
    color: #4c99b7;
    padding: 0 0 10px 0;
    font: 35px 'Helvetica', Arial;
}
.content-area p {
    margin: 0 0 15px 0;
}
/* Sidebar */
.widget-area {
    padding: 25px 0 25px 25px;
    float: left;
    width: 205px;
}
.widget-area ul {
    font-size: 12px;
    list-style: none;
    margin-left: 0;
    color: #3e5157;
}
.widget-area h3 {
    font: 15px 'Helvetica', Arial;
    color: #3e5157;
    margin: 0;
}
.widget-area ul ul {
    padding: 0;
}
.site-footer {
    clear: both;
    height: 35px;
    text-align: right;
    color: #FFF;
    border-radius: 0 0 10px 10px;
    text-shadow: 2px 2px 2px #555;
    font: 20px 'Helvetica', Arial;
    background-color: #fc7a00;
}
.site-info {
    font-size: 15px;
    padding: 10px 25px 0px 0px;
}
/* koppelingen algemeen */
a,
a:visited {
    color: #7499b6;
    text-decoration: none;
}
a:hover {
    color: #000;
}